<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright 2016 The Android Open Source Project

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidthings.simplepio"
    tools:ignore="GoogleAppIndexingWarning">

    <!-- [START peripheral-gpio-output-java, peripheral-gpio-input-java, peripheral-pwm-java] -->
    <!-- [START peripheral-gpio-output-kotlin, peripheral-gpio-input-kotlin, peripheral-pwm-kotlin] -->
    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" />

    <application>
        <uses-library android:name="com.google.android.things" />
        <!-- [START_EXCLUDE] -->

        <activity
            android:name="com.example.androidthings.java.PioActivity"
            android:label="Peripheral Samples (Java)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.androidthings.kotlin.PioActivity"
            android:label="Peripheral Samples (Kotlin)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- [END_EXCLUDE] -->
    </application>
    <!-- [END peripheral-gpio-output-java, peripheral-gpio-input-java, peripheral-pwm-java] -->
    <!-- [END peripheral-gpio-output-kotlin, peripheral-gpio-input-kotlin, peripheral-pwm-kotlin] -->
</manifest>
